.albumGrid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

.albumCard {
    width: 32%;
    height: 150px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.albumCard:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.typeLink {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: flex; /* Sử dụng flexbox */
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
    height: 100%; /* Đảm bảo chiều cao 100% để có thể nhấp được */
  }
  
  
  
  
  .typeLink:hover {
    color: #e0e0e0;
  }

.albumCard:nth-child(1) {
    background: linear-gradient(135deg, #4c2e96, #a29bfe);
}

.albumCard:nth-child(2) {
    background: linear-gradient(135deg, #2b6d47, #4ac29a);
}

.albumCard:nth-child(3) {
    background: linear-gradient(135deg, #9c2c2c, #f39c9c);
}

.albumCard:nth-child(4) {
    background: linear-gradient(135deg, #1e3a8a, #3b82f6);
}

.albumCard:nth-child(5) {
    background: linear-gradient(135deg, #9333ea, #d8b4fe);
}