.title {
  font-size: 28px;
  font-weight: bold;
  color: #6c63ff;
  margin-bottom: 20px;
  text-align: center;
}
.typeList {
  display: grid;
  grid-template-columns: repeat(5, 210px); 
  gap: 20px; /* Khoảng cách giữa các ô */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.typeItem {

    border-radius: 10px;
    text-align: center;
    color: #fff;
    flex-basis: 30%;
    height: 130px;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    margin-bottom: 20px;
background-color: #ff6b6b;
}

/* Link cho từng thể loại */
.typeLink {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  display: flex; /* Sử dụng flexbox */
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: center; /* Căn giữa theo chiều ngang */
  height: 100%; /* Đảm bảo chiều cao 100% để có thể nhấp được */
}




.typeLink:hover {
  color: #e0e0e0;
}

/* Trạng thái tải dữ liệu và lỗi */
.loading,
.error {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: #ff6b6b;
}
.showAllButton {
  display: block;
  margin: 20px auto; /* Căn giữa nút */
  padding: 10px 20px;
  background-color: #6c63ff; /* Màu nền */
  color: #fff; /* Màu chữ */
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.showAllButton:hover {
  background-color: #ff6b6b; /* Màu khi hover */
}
.typeItem:nth-child(1) {
  background: linear-gradient(135deg, #4c2e96, #a29bfe);
}

.typeItem:nth-child(2) {
  background: linear-gradient(135deg, #2b6d47, #4ac29a);
}

.typeItem:nth-child(3) {
  background: linear-gradient(135deg, #9c2c2c, #f39c9c);
}

.typeItem:nth-child(4) {
  background: linear-gradient(135deg, #1e3a8a, #3b82f6);
}

.typeItem:nth-child(5) {
  background: linear-gradient(135deg, #9333ea, #d8b4fe);
}