.title {
  font-size: 28px;
  font-weight: bold;
  color: #6c63ff;
  margin-bottom: 20px;
  text-align: center;
}
.typeList {
  display: grid;
  grid-template-columns: repeat(5, 210px); 
  gap: 20px; /* Khoảng cách giữa các ô */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.typeItem {

    border-radius: 10px;
    text-align: center;
    color: #fff;
    flex-basis: 30%;
    height: 230px;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    margin-bottom: 20px;
background-color: #ff6b6b;
}

/* Link cho từng thể loại */
.typeLink {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  display: block; /* Đảm bảo toàn bộ khối có thể nhấp */
  height: 100%; /* Đảm bảo chiều cao 100% để có thể nhấp được */
}

.typeItem:hover {
  background-color: #6c63ff;
}

.typeLink:hover {
  color: #e0e0e0;
}

/* Trạng thái tải dữ liệu và lỗi */
.loading,
.error {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: #ff6b6b;
}
