.contentwrapper {
    // position: relative;
    align-items: center;
    padding: 2rem;
    color: #ffffff;  /* Màu chữ trắng */
    border-radius: 10px;
}

.title {
    // position: absolute;
    padding-left: 45px;
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 1rem;
    font-weight: bold;
    left: 150px ;
}

.musicList {
    width: 100% ;
    // position: absolute;
    
    gap: 1.5rem; /* Khoảng cách giữa các bài hát */
    padding-top: 50x;
    padding-left: 150px;
}
.musicList h5{
    text-align:left;
}
.musicList p{
    text-align:left;
    font-size: 15px;
}

.musicCard {
    display: grid;
    grid-template-columns: 100px 200px 300px auto;
    align-items: center; /* Căn giữa nội dung theo chiều dọc */
    gap: 10px;
    padding: 1rem;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    &:hover {
        transform: scale(1.02); /* Hiệu ứng phóng to nhẹ khi hover */
    }
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.musicCover {
    width: 90px;  /* Kích thước ảnh nhỏ hơn cho vừa với dòng */
    height: 90px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 1rem;  /* Khoảng cách giữa ảnh và tên bài hát */
}

.card-title {
    font-size: 1.2rem;
    color: #ffcc00; /* Màu vàng nổi bật */
    margin: 0;
}
.index {
    width: 60px;
    min-width: 38px;
    -webkit-text-stroke: 1.5px #fff;
    opacity: 0.7;
    font-size: 32px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    color: rgba(74,144,226,0);
    font-family: "Roboto",sans-serif;
    white-space: nowrap;
}
.moreOptions {  
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #ffffff;  /* Màu trắng cho dấu chấm */

}
.Titles{
    flex-direction: column;
}
.musicList h2{
    padding-left: 100px;
    text-align:left;
}
.playButton{
    position: absolute;
    top: 0;
    left: -110px;
    background: none;
    border: none;
    cursor: pointer;
    width: 2px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-grow: 1;
    opacity: 0;
}
.musicCard:hover{
    .image{
        .playButton{
            opacity: 1;
        }
    }
}
.playButton svg {
    width: 20px;
    height: 30px;
    stroke: #FFFFFF;
    fill: none !important;
}
