.musicCard {
    background: #2a2a2a;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
}

.musicCard:hover {
    transform: scale(1.05);
}

.musicCover {
    width: 100%;
    border-radius: 8px;
    height: auto;
}

.musicTitle {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #fff;
}

.musicArtist {
    font-size: 1rem;
    color: #ccc;
}
