.container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .formGroup {
        display: grid;
        gap: 10px;
        margin-bottom: 20px;

        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 14px;
        }

        // Checkbox styles
        label {
            display: flex;
            align-items: center;
            font-size: 14px;
        }

        input[type="checkbox"] {
            margin-right: 10px;
        }
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            background-color: #45a049;
        }
    }
}
