.headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
}

.headerSection h2 {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.all {
    display: flex;
    align-items: center;
<<<<<<< HEAD
    /* Căn giữa theo chiều dọc */
    gap: 10px;
    /* Khoảng cách giữa các phần tử */
=======
    gap: 10px;
>>>>>>> bcba6c3423e2691ef14e43c612b25dfbb3c1ee5f
}

.viewAllButton {
    color: #89858F;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: color 0.3s ease;
}

.viewAllButton:hover {
    color: #6c63ff;
}

.csvg {
<<<<<<< HEAD
    /* Đặt kích thước cho SVG nếu cần */
    fill: #ffffff;
    /* Đặt màu cho SVG */
=======
    fill: #ffffff;
>>>>>>> bcba6c3423e2691ef14e43c612b25dfbb3c1ee5f
    transition: fill 0.3s ease;
}

.csvg:hover {
    fill: #6c63ff;
<<<<<<< HEAD
    /* Màu khi hover SVG */
=======
>>>>>>> bcba6c3423e2691ef14e43c612b25dfbb3c1ee5f
}

.albumGrid {
    display: grid;
<<<<<<< HEAD
    grid-template-columns: repeat(5, 1fr); // 5 album theo hàng ngang
=======
    grid-template-columns: repeat(5, 1fr);
>>>>>>> bcba6c3423e2691ef14e43c612b25dfbb3c1ee5f
    grid-gap: 20px;
    justify-items: center;
    padding: 20px;
}

<<<<<<< HEAD
=======


>>>>>>> bcba6c3423e2691ef14e43c612b25dfbb3c1ee5f
.albumCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.albumWrapper {
    position: relative;
    width: 90%;
    height: 90%;
}

.albumCover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

<<<<<<< HEAD


=======
>>>>>>> bcba6c3423e2691ef14e43c612b25dfbb3c1ee5f
.albumTitle {
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

<<<<<<< HEAD

=======
>>>>>>> bcba6c3423e2691ef14e43c612b25dfbb3c1ee5f
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
<<<<<<< HEAD
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    gap: 20px;
    /* Khoảng cách giữa các nút */
    background-color: rgba(0, 0, 0, 0.5);
    /* Màu nền mờ */
    opacity: 0;
=======
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    padding: 0 30px;
>>>>>>> bcba6c3423e2691ef14e43c612b25dfbb3c1ee5f
    transition: opacity 0.3s ease;
}

.albumWrapper:hover .overlay {
    opacity: 1;
}

.playButton,
<<<<<<< HEAD
.likeButton {
=======
.likeButton,
.moreButton {
>>>>>>> bcba6c3423e2691ef14e43c612b25dfbb3c1ee5f
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
}
.likeButton{
    position: absolute;
        top: 200;
        left: 30px;
}
.playButton{
position: absolute;
    top: 200;
    right: 100px;
}
.moreButton {
    position: absolute;
    top: 200;
    right: 30px;
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playButton svg,
.likeButton svg,
=======
    flex-grow: 1;
}

.likeButton svg,
.playButton svg,
>>>>>>> bcba6c3423e2691ef14e43c612b25dfbb3c1ee5f
.moreButton svg {
    width: 30px;
    height: 30px;
    stroke: #FFFFFF;
    fill: none !important;
}

<<<<<<< HEAD
.artistName{
=======
.artistName {
>>>>>>> bcba6c3423e2691ef14e43c612b25dfbb3c1ee5f
    color: #726E79;
}